<div id="<%= dom_id article %>">
</div>

<div class="card text-center" style="max-width: 50rem;">
  <div class="card-body">
    
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text"><%= article.content %></p>
        <% if user_signed_in? %>
        <p class="card-text"><p>Written by <%= article.email %></p>
        <% end %>
   
        <%= link_to "See Post", article, class:"btn btn-dark" %>
  
  </div>
</div>
